@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@kobalte/tailwindcss";

@import "tailwindcss-radix-colors/dist/teal-colors-only.css"; /* primary */
@import "tailwindcss-radix-colors/dist/tomato-colors-only.css"; /* danger */
@import "tailwindcss-radix-colors/dist/amber-colors-only.css"; /* warning */
@import "tailwindcss-radix-colors/dist/grass-colors-only.css"; /* success */
@import "tailwindcss-radix-colors/dist/gray-colors-only.css"; /* neutral */
@import "tailwindcss-radix-colors/dist/graya-colors-only.css";

@theme {
    --spacing-xs: 4.25rem;
    --spacing-sm: 9.75rem;
    --spacing-md: 15.25rem;
    --spacing-lg: 20.75rem; /* 4 columns (mobile breakpoint). Never set min-size to larger than this */
    --spacing-xl: 26.25rem;
    --spacing-2xl: 31.75rem; /* 6 columns, half of laptop breakpoint */
    --spacing-3xl: 37.25rem;
    --spacing-4xl: 42.75rem;
    --spacing-5xl: 48.75rem;
    --spacing-6xl: 53.75rem;
    --spacing-7xl: 59.25rem;
    --spacing-8xl: 64.75rem;
    --spacing-gutter: 1.25rem;
    --spacing-margin: 0.625rem;
    --spacing-mobile: 20.75rem;
    --spacing-tablet: 42.75rem;
    --spacing-laptop: 64.75rem;
    --spacing-ultrawide: 86.75rem;

    --breakpoint-mobile: 20.75rem;
    --breakpoint-tablet: 42.75rem;
    --breakpoint-laptop: 64.75rem;
    --breakpoint-ultrawide: 86.75rem;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--kb-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--kb-accordion-content-height);
        }
        to {
            height: 0;
        }
    }

    @keyframes content-show {
        from {
            opacity: 0;
            transform: scale(0.96);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes content-hide {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0.96);
        }
    }

    @keyframes caret-blink {
        0%,
        70%,
        100% {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-content-show: content-show 0.2s ease-out;
    --animate-content-hide: content-hide 0.2s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}
