@import "tailwindcss";
/* @theme {
    --color-\*: initial;
} */
@import "tailwindcss-radix-colors/dist/teal.css";
@import "tailwindcss-radix-colors/dist/gray.css";
@import "tailwindcss-radix-colors/dist/tomato.css";
@import "tailwindcss-radix-colors/dist/amber.css";
@import "tailwindcss-radix-colors/dist/grass.css";
@plugin "@kobalte/tailwindcss";
